@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply flex flex-col items-center m-0 h-screen bg-yellow-50;
}

form {
    @apply shadow-md shadow-gray-400 max-w-full ;
    width: 300px;
}

.input {
    @apply block p-4 w-full text-lg;
    border: none;
}

.filter-form input {
    @apply w-full text-sm px-4 py-2 my-2;
    width: 300px
}

.items {
    @apply bg-white shadow-md shadow-gray-400;
    width: 300px;
}

.items li {
    @apply border-t cursor-pointer p-4 text-sm flex justify-between items-center;
}

.item-btn {
    @apply text-red-500 p-1;
}

.clear-btn {
    @apply bg-gray-600  text-xs text-white p-3 mt-6 shadow-md shadow-gray-400;
}

.edit-mode {
    @apply text-gray-400;
}

.form-edit {
    @apply bg-teal-400 text-white;
}